body {
    background-color: beige;
}
header h1 {
    font-size: 40pt;
    text-transform: uppercase;
    text-align: center;
    background-color: bisque;
}

nav{
    width: 150px;
    float: left;
    font-size: 16 pt;
}

nav a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
}

section {
    margin-left: 150px;
}

section div h2{
    border-top: solid black;
}