body{
    background-color: rgb(184, 247, 226);
}

head {
    font-size: 30pt;
    background-color: aquamarine; 
}
nav{
    float: left;
    text-decoration: none;
    margin: 10px;
}
nav a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: rgb(95, 11, 112);
    text-decoration-color: rgb(95, 11, 112);
}
a:visited{
    color: rgb(43, 76, 237);
}